#########################################
##            Global Setting
#########################################

### Paths #########################################

# Point to the path of your applications code on your host
CODE_ROOT_HOST=

# Point to where the `CODE_PATH_HOST` should be in the container
CODE_ROOT_CONTAINER=

# You may add flags to the path `:cached`, `:delegated`.
CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=

# Build context
DOCKER_BUILD_CONTEXT_ROOT=./containers

### Drivers #######################################
NETWORKS_DRIVER=bridge
VOLUMES_DRIVER=local

### Docker compose files ##################################

# Select which docker-compose files to include.
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use dev-platform to have seperate containers per project.
COMPOSE_PROJECT_NAME=dev

### Accounts ######################################
DEV_USER=dev
DEV_GROUP=dev
DEV_UID=1000
DEV_GID=1000

### Git ###########################################
GIT_USER=
GIT_EMAIL=

# Timezone
TIMEZONE="Asia/Chongqing"

#########################################
##          Centos
#########################################
CENTOS_VERSION=7
CENTOS_TAG="centos${CENTOS_VERSION}"

#########################################
##          Alpine
#########################################
ALPINE_MIRROR="http://mirrors.aliyun.com/alpine/v3.12/main\nhttp://mirrors.aliyun.com/alpine/v3.12/community"

#########################################
##          PHP
## We used docker official php image, available tags please
## referer to https://hub.docker.com/_/php
#########################################
PHP_VERSION=7.4
PHP_CLI_TAG=${PHP_VERSION}-cli-alpine3.12
PHP_FPM_TAG=${PHP_VERSION}-fpm-alpine3.12

#########################################
##          Workspace
#########################################
WORKSPACE_SSH_PORT=<Your host mapping port for sshd>
SSH_PRIVATE_KEY_FILE=<path/to/rsa-private-key>
SSH_PUBLIC_KEY_FILE=<path/to/rsa-public-key>
SSH_CONFIG_FILE=<path/to/ssh-config>

#########################################
##          Openresty
#########################################
OPENRESTY_TAG=1.17.8.2-5-centos
OPENRESTY_CONF_DIR_HOST=
OPENRESTY_PORT=

#########################################
##          Mongo
#########################################
MONGO_TAG=latest

#########################################
##          Node.js
##  Please referer to: https://github.com/nodesource/distributions
#########################################
NODEJS_VERSION=12

#########################################
##          Python
#########################################
PYTHON_VERSION=3.8.5
PYTHON_SOURCE_URL=https://www.python.org/ftp/python/${PYTHON_VERSION}/Python-${PYTHON_VERSION}.tgz

# Set mongod initial auth username & password 
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
